.canvas-action-dropdown {
  .ant-dropdown-menu {
    padding: 8px;
    .ant-dropdown-menu-item {
      padding: 6px 8px;
      &:hover {
        background-color: var(--refly-tertiary-hover);
      }
    }
  }
}
